/* Imports ========================================= */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
/* Fonts: 'Alata', 'Josefin Sans' */

/* Colors ========================================= */
:root {
  --white: #ffffff;
  --black: #000000;
  --dark-gray: #8c8c8c;
  --very-dark-gray: #696969;
}

/* Global Settings ========================================= */
* {
  margin: 0; padding: 0; box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: unset;
}

ul, li {
  list-style: none;
}

/* Header ========================================= */
header {
  width: 100%;
  color: var(--white);
  font-family: 'Josefin Sans', sans-serif;
}

.header-container {
  width: min(90vw, 1200px);
  height: 100%;
  margin: 0 auto;
}

.header-container > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > .logo {
  display: flex;
  align-items: center;
}

nav > ul {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.menu-hamburger {
  display: none;
}

.header-title-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-title-container > h1 {
  font-weight: 300;
  text-transform: uppercase;

  border: 2.5px solid var(--white);
}

/* Desktop Screen ========================================= */
@media (min-width: 801px) {
  header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/desktop/image-hero.jpg") top center no-repeat;
    background-size: cover;
    height: 60vh;
  }
  nav > ul {
    gap: 2rem;
  }
  .header-container {
    padding: 4rem 0;
  }
  .header-title-container {
    width: 650px;
  }
  .header-title-container > h1 {
    font-size: 4.5rem;
    padding: 2rem;
    letter-spacing: .4rem;
  }
}

/* Mobile Screen ========================================= */
@media (max-width: 800px) {
  header {
    background: url("../images/mobile/image-hero.jpg") center center no-repeat;
    background-size: cover;
    height: 80vh;
  }
  nav > ul {
    display: none;
  }
  .logo > img {
    height: 3.5vh;
  }
  .menu-hamburger {
    display: flex;
    align-items: center;
  }
  .header-container {
    padding: 3rem 0;
  }
  .header-title-container {
    width: min(100%, 500px);
  }
  .header-title-container > h1 {
    width: 100%;
    padding: 1rem;
    letter-spacing: .2rem;
    font-size: min(10vw, 3rem);
  }
}