/* Imports ========================================= */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
/* Fonts: 'Alata', 'Josefin Sans' */

/* Colors ========================================= */
:root {
  --white: #ffffff;
  --black: #000000;
  --dark-gray: #8c8c8c;
  --very-dark-gray: #696969;
}

/* Global Settings ========================================= */
* {
  margin: 0; padding: 0; box-sizing: border-box;
}

html {
  font-size: 93.75%;
}